@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --black: #050506;
  --white: #fafdff;
  --body-light: #e4e6e8; /*white text*/
  --body-gray: #3d3d45;
  --background-color: #131313;
  --buton-text: 1.25em;
  --text-bold: 700;
  --text-medium: 500;
  --text-regular: 400;

  /*Dektop styles*/
  --gap-block: 150px;
  --gap-insect: 112px;

  /*Mobile styles*/
  --gap-block-mobile: 46px;
  --gap-insect-mobile: 36px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Roboto, sans-serif;
  color: var(--white);
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--background-color);
}
header {
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
}
h1,
h2,
h3,
h4 {
  font-family: Mulish, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto;
  line-height: 130%;
}

h1 {
  font-size: 150px;
  line-height: 110%;
}
h2 {
  font-size: 52px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
p {
  font-size: 18px;
  line-height: 150%;
}
.container {
  position: relative;
  max-width: 1248px;
  margin: 0 auto;
  padding-inline: 1.5rem;
}
.container-small {
  position: relative;
  max-width: 948px;
  margin: 0 auto;
}
.rectangle {
  position: absolute;
  border: 12px solid rgba(255, 255, 255, 0.11);
}
.hero__btnRectangle {
  width: 58px;
  height: 58px;
  border: 3px solid white;
  margin-top: 8px;
}
.hero-cta a .hero__btnRectangle {
  transition: 0.5s;
  margin-left: -34px;
}
.hero-cta a:hover .hero__btnRectangle {
  transition: 0.5s;
  margin-left: -18px;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}
.d-flex-row {
  display: flex;
}
.d-none {
  display: none;
}
.alignItems-center {
  align-items: center;
}
.btn-link--light a {
  max-width: fit-content;
  color: var(--white);
  border: 0;
  text-decoration: none;
  border-bottom: 2px solid var(--white);
  padding: 12px 4px;
}
.btn-link--dark a {
  max-width: fit-content;
  color: var(--black);
  border: 0;
  text-decoration: none;
  border-bottom: 2px solid var(--black);
  padding: 12px 4px;
}
.btn-link--dark:hover a {
  transition: 0.1s;
  font-weight: 400;
  border-bottom: 4px solid var(--black);
}
.btn-link--light:hover a {
  transition: 0.1s;
  font-weight: 400;
  border-bottom: 4px solid var(--white);
}
#brand {
  font-family: Mulish, Roboto;
  font-weight: bold;
  font-size: 36px;
  display: flex;
  align-items: center;
}
#brand span {
  font-size: 56px;
}
#brand a {
  color: white;
}
ul {
  list-style-type: none;
  height: 100%;
  font-weight: var(--text-medium);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}
.menu_link {
  color: white;
  font-size: var(--buton-text);
}
.hero-content {
  position: relative;
}
.hero-cta {
  position: absolute;
  right: 20%;
  bottom: 24px;
}
section,
footer {
  padding-top: 200px;
}
input {
  color: var(--white);
  padding: 16px 8px;
  border: 0;
  width: 100%;
  font-size: 18px;
  border-bottom: 2px solid var(--white);
  background-color: transparent;
}
input:focus {
  outline: none;
  border-bottom: 4px solid var(--white);
}
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
#hamburger-icon div {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 0 34px 0;
}
.mobile-menu {
  display: none;
  position: absolute;
  z-index: 999;
  top: 94px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--background-color);
}
.menu_item a:hover {
  text-decoration: underline;
}
.section-hero {
  padding-top: 0px;
  padding-bottom: 200px;
  margin-top: 64px;
}
.section-aboutUs {
  background-color: white;
  color: var(--body-gray);
  padding-bottom: 200px;
}
.aboutUs-inline {
  gap: var(--gap-block);
}
.about_title {
  color: var(--black);
}
.about-content {
  gap: var(--gap-insect);
}

.section-portfolio {
  gap: var(--gap-insect);
  padding-top: 200px;
  padding-bottom: 0;
}
.portfolio-head {
  gap: var(--gap-block);
  justify-content: center;
}
.head__text {
  width: 36%;
}
.portfolio-column {
  gap: 120px;
}
.portfolio-projects {
  gap: 40px;
}
.project-item {
  max-width: 663px;
  gap: 24px;
}
.project__img {
  width: 100%;
}
.project_top {
  justify-content: space-between;
  gap: 24px;
}
.project__description {
  width: 72%;
}
.card-info {
  gap: 12px;
}
.section-decor {
  padding-top: 136px;
}
.decor__text {
  font-size: 128px;
  line-height: 130%;

  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    #ffffff,
    rgba(250, 253, 255, 0.33)
  ); /* Define your gradient colors */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text; /* Clip the background to the text */
  color: transparent; /* Set the text color to transparent */
}
.section-pride {
  gap: var(--gap-insect);
}
.pride-head {
  justify-content: center;
  gap: var(--gap-block);
}
.pride__img {
  object-fit: cover;
  width: 100%;
}
.pride-cta {
  text-align: right;
}
.section-testimonial {
  gap: var(--gap-insect);
}
.testimonial-head {
  justify-content: center;
}

.section-contactUs {
  justify-content: center;
  gap: var(--gap-block);
  padding-bottom: 200px;
}
.contactUs__title {
  width: 28%;
}
.contactUs-form {
  gap: var(--gap-insect);
  width: 35%;
}
.gap-block {
  gap: var(--gap-block);
}

.input__tel {
  margin-top: 14px;
}

.section-footer {
  color: var(--black);
  background-color: var(--white);
  padding-top: 90px;
  position: relative;
  gap: 68px;
}
.section-footer a {
  color: var(--body-gray);
}

.footer-contacts,
.footer-address {
  gap: 46px;
}
.footer {
  width: 100%;
  justify-content: space-between;
}
.footer-data {
  width: 100%;
  gap: min(10vw, 200px);
}
.footer-heading {
  gap: 24px;
  width: 310px;
}

.media-links {
  gap: 20px;
}
.media-links a:hover {
  text-decoration: underline;
}
.footer-contact {
  gap: var(--gap-insect);
  justify-content: space-between;
}
.contacts__list {
  gap: 8px;
}
.footer-logo {
  max-width: 1800px;
}
.brand__name {
  font-family: Roboto;
  font-weight: 600;
  font-size: min(22vw, 400px);
  text-align: center;
  line-height: 73%;
}
.brand__X {
  display: inline-block;
  line-height: 20%;
  font-size: 1.6em;
}

.copyright__text {
  text-align: center;
}
.footer-copyright--desktop {
  position: absolute;
  right: -109px;
  top: 36px;
  transform: rotate(-90deg);
}
.footer-copyright--mobile {
  display: none;
}
@media only screen and (max-width: 720px) {
  .portfolio-projects {
    flex-direction: column;
  }
  .portfolio-column {
    gap: var(--gap-insect-mobile);
  }
  .project-item {
    gap: 12px;
    color: var(--black);
    background-color: var(--white);
  }
  .project__description {
    display: block;
    color: var(--body-gray);
  }
  .project_top {
    gap: 6px;
  }
  .card-info {
    gap: 6px;
    padding: 0 8px 12px 8px;
  }
}
@media only screen and (max-width: 920px) {
  header {
    padding-top: 1.5em;
    position: sticky;
  }
  header nav {
    display: none;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
    line-height: 150%;
  }
  .nav {
    z-index: 999;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .btn-link--light a {
    border-bottom: 1px solid var(--white);
  }
  .btn-link--dark a {
    border-bottom: 1px solid var(--black);
  }
  .btn-link--dark:hover a {
    transition: 0.1s;
    font-weight: 400;
    border-bottom: 2px solid var(--black);
  }
  .btn-link--light:hover a {
    transition: 0.1s;
    font-weight: 400;
    border-bottom: 2px solid var(--white);
  }
  .gap-block {
    gap: var(--gap-block-mobile);
  }
  section,
  footer {
    padding-top: 90px;
  }
  .hero-content {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  .hero-cta {
    position: static;
  }
  .container,
  .container-small {
    padding-inline: 16px;
  }
  .section-hero {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 90px;
  }
  .alignItems-center-row {
    align-items: center;
  }
  .section-aboutUs {
    padding-bottom: 90px;
  }
  .about-content {
    gap: var(--gap-insect-mobile);
  }
  .aboutUs-inline {
    gap: var(--gap-block-mobile);
  }

  .section-portfolio {
    gap: var(--gap-insect-mobile);
    padding-top: 90px;
    padding-bottom: 0;
  }
  .portfolio-head {
    flex-direction: column;
    align-items: flex-start;
  }
  .portfolio-head .head__text {
    width: 100%;
  }
  .project__description {
    width: 100%;
  }
  .section-decor {
    padding-top: 90px;
  }
  .decor__text {
    font-size: 28px;
  }

  .section-pride {
    gap: var(--gap-insect-mobile);
  }
  .pride-head {
    gap: var(--gap-block-mobile);
  }
  .pride__text {
    width: 70%;
  }
  .head__text {
    width: 100%;
  }
  .testimonial-head {
    flex-direction: column;
    align-items: flex-start;
  }

  .section-contactUs {
    flex-direction: column;
    padding-bottom: 90px;
  }
  .contactUs-form {
    gap: var(--gap-block-mobile);
  }
  .contactUs-form,
  .contactUs__title {
    width: 100%;
  }
  #hamburger-icon {
    display: block;
  }
  footer {
    height: auto;
  }
  footer a {
    max-width: fit-content;
  }
  .footer {
    width: 100%;
    flex-direction: column;
    gap: var(--gap-block-mobile);
  }
  .footer-copyright--desktop {
    display: none;
  }
  .footer-heading {
    gap: 24px;
    width: 100%;
  }

  .footer-address,
  .footer-contacts {
    gap: 12px; /*trb var*/
  }
  .media-links {
    text-decoration: underline;
  }
  .contacts__list {
    gap: 6px;
  }
  .footer-data {
    flex-direction: column;
    gap: var(--gap-insect-mobile);
  }
  .footer-logo,
  .footer-copyright {
    position: static;
  }
  .footer-contact {
    flex-direction: column;
    gap: var(--gap-block-mobile);
  }
  .footer-content {
    width: 100%;
    gap: var(--gap-block-mobile);
  }

  .footer-copyright--mobile {
    transform: rotate(0deg);
    border-top: 1px solid var(--body-gray);
    padding: 12px 0;
    margin-top: -36px;
  }
}
